:root {
  --gray-200: #e2e2e2;
  --gray-700: #707070;
  --gray-800: #868686;
  --gray-800-icon: #888888;

  --cyan-gray-300: #adc0c4;

  --shape: #ebebeb;

  --green-500: #27c383;
  --green-700: #01ac66;

  --white: #ffffff;
  --white-400: #f4f4f4;
  --white-700: #f7f7f7;
  --orange: #f79c31;
  --purple: #7f3992;

  --yellow-green: #b5c401;
}

/*===== GLOBAL ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 93.75%; /*15 px*/
}

body {
  background: var(--white-700);
  font-family: "Helvetica Neue", sans-serif;
}
button {
  cursor: pointer;
}

/*===== ScrollBar =====*/

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--white-700);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-800);
  border-radius: 7px 0 0 7px;
}

/*=====KeyFrames =====*/
@-webkit-keyframes animatedTransation {
  0% {
    -webkit-transform: translate(0, 1em);
    z-index: -1;
  }
  50% {
    -webkit-transform: translate(0, -0.5em);
    z-index: -1;
  }
  100% {
    -webkit-transform: translate(0, 0);
    z-index: 1;
  }
}

@keyframes animatedTransation {
  0% {
    top: 0;
    transform: translate(0, 0);
    z-index: -1;
  }
  50% {
    transform: translate(0, -2.5rem);
    z-index: -1;
  }
  100% {
    transform: translate(0, 1rem);
    z-index: 1;
  }
}

/*=====HEADER=====*/
.header-nav {
  height: 3.2rem;
  border-bottom: 1px solid var(--shape);
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  margin: 1.625rem 8.75rem 1rem 8.75rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: var(--gray-700);
}

.header-nav-logo {
  font-size: 2.75rem;
  margin-right: 3.625rem;
}

.header-nav-logo::before {
  /*Active Bar?!*/
  content: "";

  width: 5.25rem;
  height: 0.25rem;

  position: absolute;
  bottom: -2px;

  border-radius: 7px;

  background-color: var(--yellow-green);
}

.header-nav-div-center {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.header-nav-div-end {
  margin-left: 3.625rem;
}

.header-nav-div-end-image-logout {
  width: 1.3rem;
  height: 0.6rem;
}

/*=====MAIN=====*/

main {
  font-size: 1.5rem;

  margin: 1.625rem 8.75rem 1rem 8.75rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 22rem;
  grid-gap: 2.6rem;
}

.grid-bet {
  margin-top: 5rem;
}

.grid-bet-choosen-type {
  color: var(--gray-800);
  font-size: 1.06rem;
  font-weight: bold;
  font-style: italic;
}

main div header p {
  color: var(--gray-700);
  margin-bottom: 2.06rem;
}

main div header p span {
  font-style: italic;
}

/*=====BUTTONS=====*/
.grid-bet-container-button {
  display: flex;
  align-items: center;

  margin-top: 1.43rem;
  margin-bottom: 2.25rem;
}
.grid-bet-container-button button {
  width: 7.06rem;
  height: 2.12rem;

  margin-right: 1.56rem;
  padding: 0.5rem 1rem;

  border-radius: 100px;
}

.grid-bet-container-button button.active {
  background: var(--purple);
  color: var(--white);
}

.grid-bet-container-button button:last-child {
  margin-right: 0;
}

/*======BET DESCRIPTION=======*/

.grid-bet-container-description {
  max-width: 40.5rem;
  word-wrap: break-word;
  color: var(--gray-800);
}

.grid-bet-container-description h2 {
  font-size: 1.06rem;
  font-weight: bold;
  font-style: italic;
}

.grid-bet-container-description p {
  font-size: 1.06rem;
  font-style: italic;

  line-height: 1.5rem;
}

/*===== BET RANGE ======*/
.grid-bet-container-range {
  max-width: 50rem;

  margin-top: 1.68rem;
}

.grid-bet-container-range-input {
  width: 3rem;
  height: 3rem;

  margin: 0 1.375rem 1.5rem 0;

  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;

  color: #fff;
  background-color: var(--cyan-gray-300);

  border: none;
  border-radius: 50%;

  cursor: pointer;

  -webkit-animation: ease-in-out animatedTransation 0.6s;
  animation: ease-in-out animatedTransation 0.6s;
}

.grid-bet-container-range-input.selected {
  background-color: var(--green-500);
}

/*====== functional Buttons ======*/
.grid-bet-container-function-buttons {
  max-width: 48rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-bet-container-function-buttons-completed,
.grid-bet-container-function-buttons-clear {
  width: 12rem;
  height: 3.25rem;

  border-radius: 10px;
  border: 1px solid var(--green-500);

  padding: 1.06rem 1.375rem 1rem 1.562rem;

  font-size: 1rem;
  color: var(--green-500);
}

.grid-bet-container-function-buttons-add-cart {
  width: 16rem;
  height: 3.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.06rem 1.375rem 1rem 1.562rem;

  border-radius: 10px;
  border: none;

  color: var(--white);
  background-color: var(--green-500);
}

.grid-bet-container-function-buttons-completed:hover,
.grid-bet-container-function-buttons-clear:hover,
.grid-bet-container-function-buttons-add-cart:hover {
  filter: brightness(0.9);
}

.image-add-to-cart {
  width: 1.625rem;
  height: 1.562rem;

  margin-right: 1.75rem;
}

/*=====CART=====*/
.grid-cart {
  height: 30rem;

  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 2rem;

  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--gray-200);
}

.grid-cart-header {
  padding-top: 3rem;
  padding-left: 1rem;
}

.grid-cart-header h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: var(--gray-700);
}

.grid-cart-container {
  overflow-y: auto;

  margin-bottom: 6.375rem;
}

.grid-cart-item {
  display: flex;
  align-items: center;

  position: relative;

  font-size: 0.937rem;
  color: var(--gray-800);

  margin-top: 3.125rem;
  margin-left: 1rem;
}

.grid-cart-item img {
  width: 1.25rem;
  height: 1.5rem;

  opacity: 0.5;

  margin-right: 1.25rem;
  cursor: pointer;
}

.grid-cart-item div span strong {
  color: #7f3992;
}

.grid-cart-item-description p {
  width: 15rem;
  word-wrap: break-word;

  margin-bottom: 0.5rem;
}

.grid-cart-item-description::after {
  content: "";

  width: 0.25rem;
  height: 4.375rem;

  position: absolute;
  top: -0.625rem;
  left: 1.875rem;

  border-radius: 7px 0 0 7px;

  background-color: #7f3992;
}

.grid-cart-total {
  margin-top: 2.5rem;
  padding-left: 1rem;

  color: var(--gray-700);
}

.grid-cart-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.grid-cart-button-save {
  height: 6rem;
  width: 100%;

  font-size: 2.18rem;
  font-weight: bold;
  font-style: italic;

  background: var(--gray-200);
  color: var(--green-500);

  border: inherit;
  border-radius: 0 0 10px 10px;

  overflow: hidden;
}

.grid-cart-button-save img {
  width: 1.25rem;
  height: 1.5rem;

  margin-left: 1.125rem;
}

/*=====FOOTER=====*/
footer {
  height: 3.2rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9375rem;
  color: var(--gray-700);
  border-top: 1px solid var(--shape);
}

/*===== MODAL ERROR =====*/
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 100%;
  max-width: 36rem;

  position: relative;

  padding: 3rem;
  border-radius: 0.25rem;
  background: var(--background);
}

.modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;

  background: transparent;

  transition: brightness 0.2s;
}

.modal-close:hover {
  filter: brightness(0.8);
}
